IT Club_UI/Connected Services/UserInfoServiceReference/UserInfoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44318/UserInfoService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.SqlTypes" />
  <xs:import schemaLocation="https://localhost:44318/UserInfoService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="https://localhost:44318/UserInfoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Common" />
  <xs:complexType name="ArrayOfSqlParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SqlParameter" nillable="true" type="tns:SqlParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSqlParameter" nillable="true" type="tns:ArrayOfSqlParameter" />
  <xs:complexType name="SqlParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Common" base="q1:DbParameter">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.SqlTypes" minOccurs="0" name="CompareInfo" type="q2:SqlCompareOptions" />
          <xs:element minOccurs="0" name="ForceColumnEncryption" type="xs:boolean" />
          <xs:element minOccurs="0" name="LocaleId" type="xs:int" />
          <xs:element minOccurs="0" name="Offset" type="xs:int" />
          <xs:element minOccurs="0" name="Precision" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Scale" type="xs:unsignedByte" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="SqlDbType" type="q3:SqlDbType" />
          <xs:element minOccurs="0" name="SqlValue" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UdtTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XmlSchemaCollectionDatabase" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XmlSchemaCollectionName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XmlSchemaCollectionOwningSchema" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SqlParameter" nillable="true" type="tns:SqlParameter" />
</xs:schema>